.display-4{
    color: white;
}
.container{
    text-align: center;
    padding-top: 100px;
    width: 600px;
    height: 500px;
    background-color: cornflowerblue;
    border-radius: 10%;
}
form{
    margin-left: 100px;
   
}
input{
    width: 380px;
}
.btn{
    margin-right: 100px;   
    color: white; 
    border: 1px solid white;
}
.btn:hover{
    color: cornflowerblue;
    background-color: white;
}
a{
    color: white;
}