<footer id="footer" class="align-items-center">
    <div id="img">
      <a href="#"><img src="assets/images/cart.png" alt="#" id="footerimg"></a>
    </div>
    <div class="container d-flex">
    <nav class="nav-menu d-lg-block">
    <ul>
      <li><button class="btn">About Us</button></li>
      <li><a href="/contact"><button class="btn">Contact Us</button></a></li>
      <li><a href="/faq"><button class="btn">FAQs</button></a></li>
      <li><button class="btn">My Account</button></li>
    </ul>
    </nav>
    </div>
</footer>